{% extends "base.html" %}

{% block content %}
<h2>{{ object.full_name }}</h2>
        <ul class="thumbnails">
        {% for artwork in object.artwork_set.all %}
            <li class="span4">
            <div class="thumbnail">
                <a data-toggle="modal" data-target="#artwork-modal-{{ artwork.pk }}">
                    {% if artwork.midsize %}
                    <img src="{{ artwork.midsize.url }}">
                    {% else %}<h5>NO IMAGE FOUND</h5>{% endif %}
                </a>
                <h5>{{ artwork.title }}</h5>
                <p>{{ artwork.medium }}<br>{{ artwork.raw_size }}<br>
                {% ifnotequal artwork.create_start artwork.create_finish %}
                    {{ artwork.create_start.year }} &dash; {{ artwork.create_finish.year }}
                {% else %}
                    {{ artwork.create_start.year }}
                {% endifnotequal %}</p>
            </div>
            </li>
          <div class="modal hide fade" id="artwork-modal-{{ artwork.pk }}">
              <div class="modal-header">
                  <a class="close" data-dismiss="modal">x</a>
                  <h3>{{ artwork.title }}</h3>
              </div>
              <div class="modal-body">
                  {% if artwork.modalsize %}
                  <img src="{{ artwork.modalsize.url }}">
                  {% else %}<h5>NO IMAGE FOUND</h5>{% endif %}
              </div>
          </div>
        {% endfor %}
        </ul>
{% endblock %}
